@page
@model IndexModel
@{
  ViewData["Title"] = "Profile";
  ViewData["ActivePage"] = ManageNavPages.Index;
}


<div class="mx-auto max-w-7xl py-10 sm:px-6 lg:px-8 lg:py-18" >
  <!-- Replace with your content -->
  <div class="px-4 py-6 sm:px-0">
    <div class="h-96 rounded-lg border-4 border-dashed border-gray-200">
      <div class="max-w-md mx-auto bg-white rounded-xl shadow-md overflow-hidden md:max-w-md">
        <div class="md:flex">
          <div class="w-full p-2 py-10">
            <div class="flex justify-center">
              <div class="relative">
                <img src="https://img.freepik.com/photos-gratuite/rendu-3d-avatar-appel-zoom_23-2149556783.jpg" class="rounded-full" width="80">
                <span class="absolute border-white border-4 h-5 w-5 top-12 left-16 bg-green-700 rounded-full"></span>
              </div>
            </div>
            <div class="flex flex-col text-center mt-3 mb-4">
              <span class="text-2xl font-medium mt-4">@Model.UserBlog.ApplicationUser.FirstName @Model.UserBlog.ApplicationUser.LastName</span>
              <span class="text-md mt-4 text-gray-400">@Model.Username</span>
            </div>
            <p class="px-16 text-center text-md text-gray-800">  </p>
            <div class="px-16 mt-3 text-center">
            </div>
            <div class="px-14 mt-5">
              <p class=" text-center ">@Model.UserBlog.Blog.Title <span>(Public)</span> </p>
              <div class="mt-4">
                <p class="text-gray-900 text-center ">@Model.UserBlog.Blog.Description</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- /End replace -->
</div>


@section Scripts {
  <partial name="_ValidationScriptsPartial" />
}
