@page
@model RegisterModel
@{
    ViewData["Title"] = "Inscription";
}

<section class="bg-white py-12 sm:py-16 lg:py-20">
  <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
    <div class="grid grid-cols-1 gap-y-12 lg:grid-cols-2 lg:gap-x-20 2xl:gap-x-8">
      <div>
        <div class="2xl:max-w-sm">
          <h1 class="text-3xl font-bold text-gray-900">Nous Rejoindre 🤝</h1>
          <p class="mt-4 text-sm font-medium leading-6 text-gray-500">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Turpis morbi pulvinar venenatis non.</p>

          <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="mt-12">
            <div class="space-y-6">

              <div>
                <label asp-for="Input.FirstName" class="text-sm font-bold text-gray-900"> First Name </label>
                <div class="relative mt-2">
                    <div class="pointer-events-none absolute inset-y-0 left-0 flex items-center pl-4">
                        <svg class="w-5 h-5" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M16 7a4 4 0 11-8 0 4 4 0 018 0zM12 14a7 7 0 00-7 7h14a7 7 0 00-7-7z" />
                        </svg>
                    </div>

                  <input asp-for="Input.FirstName" id="" placeholder="Jane" value="" class="block w-full rounded-lg border border-gray-300 py-3 pl-12 pr-4 placeholder-gray-500 caret-indigo-600 focus:border-indigo-600 focus:ring-indigo-600 sm:text-sm" />
                  <span class="block sm:inline" asp-validation-for="Input.FirstName"></span>
                </div>
              </div>

              <div>
                <label asp-for="Input.LastName" class="text-sm font-bold text-gray-900"> Last Name </label>
                <div class="relative mt-2">
                    <div class="pointer-events-none absolute inset-y-0 left-0 flex items-center pl-4">
                        <svg class="w-5 h-5" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M16 7a4 4 0 11-8 0 4 4 0 018 0zM12 14a7 7 0 00-7 7h14a7 7 0 00-7-7z" />
                        </svg>
                    </div>

                  <input asp-for="Input.LastName" id="" placeholder="Smith" value="" class="block w-full rounded-lg border border-gray-300 py-3 pl-12 pr-4 placeholder-gray-500 caret-indigo-600 focus:border-indigo-600 focus:ring-indigo-600 sm:text-sm" />
                  <span class="block sm:inline" asp-validation-for="Input.LastName"></span>
                </div>
              </div>

              <div>
                <label asp-for="Input.Email" class="text-sm font-bold text-gray-900"> Email </label>
                <div class="relative mt-2">
                  <div class="pointer-events-none absolute inset-y-0 left-0 flex items-center pl-4">
                    <svg class="h-5 w-5 text-gray-400" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                      <path stroke-linecap="round" stroke-linejoin="round" d="M16 12a4 4 0 10-8 0 4 4 0 008 0zm0 0v1.5a2.5 2.5 0 005 0V12a9 9 0 10-9 9m4.5-1.206a8.959 8.959 0 01-4.5 1.207" />
                    </svg>
                  </div>

                  <input asp-for="Input.Email" id="" placeholder="Email address" value="" class="block w-full rounded-lg border border-gray-300 py-3 pl-12 pr-4 placeholder-gray-500 caret-indigo-600 focus:border-indigo-600 focus:ring-indigo-600 sm:text-sm" />
                  <span class="block sm:inline bg-red" asp-validation-for="Input.Email"></span>
                </div>
              </div>

              <div>
                <label asp-for="Input.Password" class="text-sm font-bold text-gray-900"> Password </label>
                <div class="relative mt-2">
                  <div class="pointer-events-none absolute inset-y-0 left-0 flex items-center pl-4">
                    <svg class="h-5 w-5 text-gray-400" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                      <path stroke-linecap="round" stroke-linejoin="round" d="M12 15v2m-6 4h12a2 2 0 002-2v-6a2 2 0 00-2-2H6a2 2 0 00-2 2v6a2 2 0 002 2zm10-10V7a4 4 0 00-8 0v4h8z" />
                    </svg>
                  </div>

                  <input asp-for="Input.Password" id="" placeholder="Password (min. 8 character)" value="" class="block w-full rounded-lg border border-gray-300 py-3 pl-12 pr-4 placeholder-gray-500 caret-indigo-600 focus:border-indigo-600 focus:ring-indigo-600 sm:text-sm" />
                  <span class="block sm:inline" asp-validation-for="Input.Password"></span>
                </div>
              </div>

              <div>
                <label asp-for="Input.ConfirmPassword" class="text-sm font-bold text-gray-900"> Confirm Password </label>
                <div class="relative mt-2">
                  <div class="pointer-events-none absolute inset-y-0 left-0 flex items-center pl-4">
                    <svg class="h-5 w-5 text-gray-400" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                      <path stroke-linecap="round" stroke-linejoin="round" d="M12 15v2m-6 4h12a2 2 0 002-2v-6a2 2 0 00-2-2H6a2 2 0 00-2 2v6a2 2 0 002 2zm10-10V7a4 4 0 00-8 0v4h8z" />
                    </svg>
                  </div>

                  <input asp-for="Input.ConfirmPassword" id="" placeholder="Retype password" value="" class="block w-full rounded-lg border border-gray-300 py-3 pl-12 pr-4 placeholder-gray-500 caret-indigo-600 focus:border-indigo-600 focus:ring-indigo-600 sm:text-sm" />
                  <span class="block sm:inline " asp-validation-for="Input.ConfirmPassword"></span>
                </div>
              </div>

              <div class="relative flex items-center">
                <div class="flex h-5 items-center">
                  <input type="checkbox" name="remember-password" id="remember-password" class="h-4 w-4 rounded border-gray-300 text-indigo-600 focus:ring-indigo-600" />
                </div>

                <div class="ml-3">
                  <label for="remember-password" class="text-sm font-medium text-gray-900"> I agree to the <a href="#" title="" class="text-indigo-600 hover:underline">Terms & Conditions</a> </label>
                </div>
              </div>

              <div>
                <button type="submit" class="inline-flex w-full items-center justify-center rounded-md border border-transparent bg-indigo-600 px-6 py-3 text-sm font-semibold leading-5 text-white transition-all duration-200 hover:bg-indigo-500 focus:outline-none focus:ring-2 focus:ring-indigo-600 focus:ring-offset-2">Sign up</button>
              </div>
            </div>
          </form>

          <div class="relative mt-6">
            <div class="absolute inset-0 flex items-center">
              <div class="w-full border-t border-gray-200"></div>
            </div>

            <div class="relative flex justify-center">
              <span class="bg-white px-2 text-sm text-gray-400"> or </span>
            </div>
          </div>

          <div class="mt-6">
            <button type="button" class="inline-flex w-full items-center justify-center rounded-md border border-gray-300 bg-white px-6 py-3 text-sm font-semibold leading-5 text-gray-600 transition-all duration-200 hover:bg-gray-50 hover:text-gray-900 focus:outline-none focus:ring-2 focus:ring-gray-500 focus:ring-offset-2">
              <img class="mr-2 h-5 w-5" src="https://landingfoliocom.imgix.net/store/collection/clarity-dashboard/images/previews/sign-in/1/google-logo.svg" alt="" />
              Sign up with Google
            </button>
          </div>

          <div class="mt-20">
            <p class="text-sm font-medium text-gray-900">Already have an account? <a href="#" title="" class="font-bold text-indigo-600 hover:underline">Login now</a></p>
          </div>
        </div>
      </div>

      <div class="overflow-hidden rounded-2xl bg-gray-100 text-center">
        <div class="flex items-center justify-center px-8 py-12 sm:px-12 sm:py-16 md:py-24 md:px-20">
          <div>
            <img class="mx-auto w-auto" src="https://img.freepik.com/vecteurs-libre/chevron-vecteur-style-africain-motifs-tribaux_1110-455.jpg" alt="" />
            <p class="mt-4 text-2xl font-bold text-gray-900">92+ articles redigé pour vous</p>
            <p class="mt-4 text-sm font-medium text-gray-500">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Turpis morbi pulvinar venenatis non.</p>

            <div class="mt-16 flex items-center justify-center space-x-1.5">
              <div class="h-2.5 w-2.5 rounded-full bg-gray-600"></div>
              <div class="h-2.5 w-2.5 rounded-full bg-gray-300"></div>
              <div class="h-2.5 w-2.5 rounded-full bg-gray-300"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


@*<div class="row">
    <div class="col-md-4">
        <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <h2>Create a new account.</h2>
            <hr />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-floating">
                <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" />
                <label asp-for="Input.Email"></label>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-floating">
                <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" />
                <label asp-for="Input.Password"></label>
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-floating">
                <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" />
                <label asp-for="Input.ConfirmPassword"></label>
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-primary">Register</button>
        </form>
    </div>
    <div class="col-md-6 col-md-offset-2">
        <section>
            <h3>Use another service to register.</h3>
            <hr />
            @{
                if ((Model.ExternalLogins?.Count ?? 0) == 0)
                {
                    <div>
                        <p>
                            There are no external authentication services configured. See this <a href="https://go.microsoft.com/fwlink/?LinkID=532715">article
                            about setting up this ASP.NET application to support logging in via external services</a>.
                        </p>
                    </div>
                }
                else
                {
                    <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                        <div>
                            <p>
                                @foreach (var provider in Model.ExternalLogins)
                                {
                                    <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                                }
                            </p>
                        </div>
                    </form>
                }
            }
        </section>
    </div>
</div>*@

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
